mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-left: 10px;
}

.toolbar {
  display: flex;
  justify-content: center;
}

.toolbar-title {
  margin: 0;
}
